/**************TAG SELECTOR**************/

h1 {
    color: rgb(255, 0, 0);
    font-size: 200px;
}

img:hover {
    background-color: gold;
}

/**************CLASS SELECTOR**************/

.bacon {
    background-color: green;
}

.hello {
    background-color:blueviolet;
}

.circular {
    border-radius: 100%;
}

/**************ID SELECTOR**************/

#heading {
    color :blue;
}